mixin s-catalog-list()
	// start s-catalog-list
	+b.SECTION.s-catalog-list.section#s-catalog-list&attributes(attributes)
		h2 Одежда для девочек
		mixin cat-nav-line()
			+e.nav-line
				+e.nav-row.row
					+e.nav-col.col
						select.custom-select.sources(name="sources" placeholder='По релевантности')
							option(value="Relevance") По релевантности
							option(value="new") По новизне
							option(value="popular") По популярности
							option(value="priceHigh") Сначала дорогие
							option(value="priceLow") Сначала дешёвые
						+e.show Отображение 1-30 из 541
							

					+e.nav-col.col-auto
						+pugin()
		+cat-nav-line()

		+e.main-block
			+e.row.row
				mixin catalog-i(p, s)
					+e.col.col-md-4.col-sm-6
						+e.item
							a(href='#')
								if p == 'price'
									+e.lable
										img.res-i(src='img/@2x/lable-price.png' alt='')
								+e.img-wrap.bg-wrap
									img.bg-img(src='img/@2x/product-img.jpg' alt='')
								+e.item-descr
									+e.item-title Праздничное платье Lukas 9536 нежно-голубого цвета
							+e.item-order
								+e.item-price 1 200 грн.
								if p == 'price'
									+e.item-price--light 800 грн.
							if s == 'order'
								+e.status--light Можно заказать
							else
								+e.status в наличии
							+e.item-btn.btn.btn-primary(type="button") подробнее
				- for (var x = 0; x < 5; x++)
					+catalog-i('price')
					+catalog-i('','order')
					+catalog-i()
					+catalog-i('')
					+catalog-i('','order')
					+catalog-i()
		+cat-nav-line()
	// end s-catalog-list