
// start .s-catalog-list
.s-catalog-list {
	padding: 0;

	h2{
		margin: 0;
	}

	&__nav-line{
		padding: rem(10) 0;
		margin-top: rem(-2);
		border-top: 2px solid #c4c4c4;
		border-bottom: 2px solid #c4c4c4;
	}

	&__nav-col{
		@include media-breakpoint-down(sm){
			margin: rem(5) 0;
			text-align: center;
		}
	}

	&__nav-row{
		justify-content: center;
		@include media-breakpoint-up(md){
			justify-content: space-between;
		}
		align-items: center;
	}

	&__show{
		@include media-breakpoint-only(md){
			margin-left: rem(3);
		}
		display: inline-block;
		color: #6c757d;
		font-size: rem(15);
	}

	&__row{
		@include roww(10);
	}

	&__main-block{
		padding-top: rem(20);
	}

	&__col{
		margin-bottom: rem(20);
	}

	&__item{
		height: 100%;
		padding-bottom: rem(15);
		display: flex;
		flex-direction: column;
		background-color: #fff;
		position: relative;
		border: 1px solid #c4c4c4;
		@include mt;
		&:hover{
			text-decoration: none;
			box-shadow: 0px 9px 20px 2px rgba(120, 120, 120, 0.23);
		}
		& > a{
			position: relative;
			flex-grow: 1;
			display: block;
			&:hover{
				text-decoration: none;
			}
		}
	}

	&__img-wrap{
		@include block(254,370);
		margin-bottom: rem(5);
	}

	&__item-descr{
		padding: 0 rem(15) 0;
		display: block;
	}

	&__item-title{
		text-align: center;
		display: block;
		line-height: 1;
		margin-bottom: rem(5);
		color: #242424;
		&:hover{
			text-decoration: none;
		}
	}

	&__item-order{
		margin-top: auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: nowrap;
		margin-bottom: rem(5);
	}

	&__item-price{
		font-weight: 700;
		color: $info;
		font-size: rem(18);
		@include media-breakpoint-up(xl){
			font-size: rem(20);
		}
		&--light{
			color: #c4c4c4;
			text-decoration: line-through;
		}
	}

	&__item-btn{
		color: #fff;
		margin: 0 auto;
		display: block;
		text-align: center;
		font-size: rem(16);
		border-radius: rem(13);
		line-height: 1;
		text-transform: uppercase;
		min-width: rem(130);
		&:hover{
			color: #fff;
		}
	}

	&__status{
		text-align: center;
		text-transform: uppercase;
		color: #06B806;
		margin-bottom: rem(3);
		&--light{
			color: #c4c4c4;
		}
	}

	&__lable{
		z-index: 4;
		position: absolute;
		top: rem(15);
		right: rem(15);
	}

	.custom-select-wrapper {
		@include media-breakpoint-down(sm){
			width: 100%;
		}
		min-width: rem(220);
		position: relative;
		display: inline-block;
		user-select: none;
	}
		.custom-select-wrapper select {
			display: none;
		}
		.custom-select {
			height: auto;
			border: none;
			padding: 0;
			position: relative;
			display: inline-block;
		}
			.custom-select-trigger {
				position: relative;
				display: block;
				padding: rem(5) rem(30) rem(5) rem(10);
				font-size: rem(18);
				line-height: 1.2;
				font-weight: 300;
				color: #6c757d;
				background: transparent;
				border-radius: rem(15);
				border: 1px solid #6c757d;
				cursor: pointer;
			}
				.custom-select-trigger:after {
					position: absolute;
					display: block;
					content: '';
					width: 10px; height: 10px;
					top: 50%; right: rem(15);
					margin-top: -3px;
					border-bottom: 2px solid #6c757d;
					border-right: 2px solid #6c757d;
					transform: rotate(45deg) translateY(-50%);
					transition: all .4s ease-in-out;
					transform-origin: 50% 0;
				}
				.custom-select.opened .custom-select-trigger:after {
					margin-top: 3px;
					transform: rotate(-135deg) translateY(-50%);
				}
		.custom-options {
			z-index: 7;
			position: absolute;
			display: block;
			top: 100%; left: 0; right: 0;
			min-width: 100%;
			margin: rem(10) 0;
			border: 1px solid #6c757d;
			border-radius: rem(5);
			box-sizing: border-box;
			box-shadow: 0 2px 1px rgba(0,0,0,.07);
			background: #fff;
			transition: all .4s ease-in-out;
			
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transform: translateY(-15px);
		}
		.custom-select.opened .custom-options {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translateY(0);
		}
			.custom-options:before {
				position: absolute;
				display: block;
				content: '';
				bottom: 100%; right: 25px;
				width: 7px; height: 7px;
				margin-bottom: -4px;
				border-top: 1px solid #6c757d;
				border-left: 1px solid #6c757d;
				background: #fff;
				transform: rotate(45deg);
				transition: all .4s ease-in-out;
			}
			.option-hover:before {
				background: #f9f9f9;
			}
			.custom-option {
				position: relative;
				display: block;
				padding: 0 rem(15);
				border-bottom: 1px solid #6c757d;
				font-size: 18px;
				font-weight: 600;
				color: #6c757d;
				line-height: 2;
				cursor: pointer;
				transition: all .4s ease-in-out;
			}
			.custom-option:first-of-type {
				border-radius: 4px 4px 0 0;
			}
			.custom-option:last-of-type {
				border-bottom: 0;
				border-radius: 0 0 4px 4px;
			}
			.custom-option:hover,
			.custom-option.selection {
				background: #f9f9f9;
			}


@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) { }


//
@include media-breakpoint-only(xs) {}
@include media-breakpoint-only(sm) {}
@include media-breakpoint-only(md) {}
@include media-breakpoint-only(lg) {}
@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {} 

} // end.s-catalog-list