mixin s-categiries()
	// start s-categiries
	+b.SECTION.s-categiries.section#s-categiries&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-categiries
				
			.row
	// end s-categiries