mixin s-content-block()
	// start s-content-block
	+b.SECTION.s-content-block.section#s-content-block&attributes(attributes)
		.container
			h1 Lorem ipsum dolor sit amet consectetur
			p Наша команда постоянно развивается и пробует новые направления. Даже, если Вам не хватает опыта, знаний, но есть огромное желание проявить себя — мы всегда поддержим! Обучим новому и поможем в реализации. Если Вы активный, позитивный, не желающий останавливаться на достигнутом человек — будем рады видеть Вас в нашем коллективе! На данный момент у нас актуальны вакансии:
			p Краткое описание тканей, которые используются для производства детской одежды:
			p
				span Ситец 
				| – хлопчатобумажная ткань полотняного переплетения. Благодаря своей плотности имеет характерную мягкость. Очень легкий, но не очень теплый материал, обладающий отличной гигроскопичностью. Ткань имеет полностью натуральный состав, при ее производстве не используется вредных и токсичных добавок, синтетических ниток. Эта особенность делает материал очень комфортной тканью, подходящей и для маленьких детей. 
				strong Ситец абсолютно безопасен для грудничков и новорожденных. Не раздражает кожу и не вызывает аллергии и отлично впитывает влагу, позволяет коже дышать. 
				| Это неприхотливая ткань не требует к себе особенного ухода, легко стирается и гладится.
			p
				span Байка 
				| – мягкая плотная хлопчатобумажная или шерстяная ткань. Материал создает тепло и уют, поэтому часто используется для пошива одежды для грудничков и малышей. Ткань очень устойчивая, прочная, практически не тянется. Очень хорошо впитывает и испаряет влагу, не требует особого ухода. 
				strong Гипоаллергенность и гигиенические свойства делают ткань отличным выбором для практичных родителей, заботящихся о здоровье и самочувствии своего малыша.
			
			h4 Доставка
			ul
				li Доставка товара магазина «Мир детства» по Украине осуществляется транспортными компаниями «Новая почта», «Интайм», «Автолюкс» и занимает 1-3 дня в зависимости от Вашего региона.
				li Оплачивает доставку Покупатель согласно тарифов компаний-перевозчиков.
				li В случае отправки заказа наложенным платежом перевод денег оплачивается Покупателем при получении согласно тарифов перевозчика.
				li
					strong Отправка наложенным платежом 
					| осуществляется после внесения Покупателем 
					strong предоплаты в размере 150 грн 
					| . на наш расчетный счет или карту Приватбанка. При заказе товаров из категории 
					strong «Детский транспорт» 
					| и 
					strong «Детская мебель» 
					| самовывоз из магазина и отгрузка наложенным платежом возможны после 
					strong внесения 30% предоплаты 
					| .
				li Реквизиты для оплаты Вам сообщит менеджер после подтверждения заказа.
				li Для жителей г. Харькова заказ можно забрать самовывозом из магазина.
			h4 Оплата
			p Вы можете оплатить заказ одним из следующих способов:
			ul
				li
					strong Наличными 
					| при получении заказа в магазине.
				li
					strong Наложенным платежом 
					| при получении заказа в отделении Новой почты, «Интайм», «Автолюкс», согласно тарифам перевозчика.
				li
					strong Безналичный расчет 
					| – на расчетный счет согласно счет-фактуры; оплата на карту Приватбанка.
			+b.vacancies-content
				p Наша команда постоянно развивается и пробует новые направления. Даже, если Вам не хватает опыта, знаний, но есть огромное желание проявить себя — мы всегда поддержим! Обучим новому и поможем в реализации. Если Вы активный, позитивный, не желающий останавливаться на достигнутом человек — будем рады видеть Вас в нашем коллективе! На данный момент у нас актуальны вакансии:

				+e.A.link.scroll-link(href='#marketer')
					i.fa.fa-thumbs-up
					| Маркетолог
				+e.A.link.scroll-link(href='#seller')
					i.fa.fa-user
					| Продавец-консультант в детский магазин

				p Если Вы готовы стать частью нашей команды — высылайте развернутое резюме с фото и указанием ожидаемого уровня ЗП на 
					a(href='mailto:director@mirderstva.net')
						strong director@mirderstva.net
				
				+e.block#marketer
					h4 Маркетолог

					p Для развития интернет-магазина требуется маркетолог.
					p Полная занятость.
					p Если Вы креативны и активны, не важно, какой у Вас багаж опыта! Если Вы чувствуете себя в соцсетях, как рыба в воде, понимаете, как происходят продажи on-line и откуда берутся лояльные покупатели, тогда мы ждем Вас! Опыт работы маркетологом, интернет-маркетологом не менее года будет плюсом.

					h5 Для нас важны Ваши:
					ul
						li
							i.fa.fa-check
							|Креативность.
						li
							i.fa.fa-check
							|Системное мышление, понимание общих задач команды.
						li
							i.fa.fa-check
							|Владение системами аналитики и прикладными решениями для бизнеса Google.
						li
							i.fa.fa-check
							|Знание принципов продвижения в сети.
						li
							i.fa.fa-check
							|Высокая самоорганизация.

					h5 Для нас важны Ваши:
					ul
						li
							i.fa.fa-check
							|Креативность.
						li
							i.fa.fa-check
							|Системное мышление, понимание общих задач команды.
						li
							i.fa.fa-check
							|Владение системами аналитики и прикладными решениями для бизнеса Google.
						li
							i.fa.fa-check
							|Знание принципов продвижения в сети.
						li
							i.fa.fa-check
							|Высокая самоорганизация.

				+e.block#seller
					h4 Продавец-консультант в детский магазин

					p Для развития интернет-магазина требуется маркетолог.
					p Полная занятость.
					p Если Вы креативны и активны, не важно, какой у Вас багаж опыта! Если Вы чувствуете себя в соцсетях, как рыба в воде, понимаете, как происходят продажи on-line и откуда берутся лояльные покупатели, тогда мы ждем Вас! Опыт работы маркетологом, интернет-маркетологом не менее года будет плюсом.

					h5 Для нас важны Ваши:
					ul
						li
							i.fa.fa-check
							|Креативность.
						li
							i.fa.fa-check
							|Системное мышление, понимание общих задач команды.
						li
							i.fa.fa-check
							|Владение системами аналитики и прикладными решениями для бизнеса Google.
						li
							i.fa.fa-check
							|Знание принципов продвижения в сети.
						li
							i.fa.fa-check
							|Высокая самоорганизация.

					h5 Для нас важны Ваши:
					ul
						li
							i.fa.fa-check
							|Креативность.
						li
							i.fa.fa-check
							|Системное мышление, понимание общих задач команды.
						li
							i.fa.fa-check
							|Владение системами аналитики и прикладными решениями для бизнеса Google.
						li
							i.fa.fa-check
							|Знание принципов продвижения в сети.
						li
							i.fa.fa-check
							|Высокая самоорганизация.

	// end s-content-block