extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-main-slider/_s-main-slider.pug
include ../blocks/s-categories/_s-categories.pug
include ../blocks/s-catalog-slider/_s-catalog-slider.pug
include ../blocks/s-recomend/_s-recomend.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-main-about/_s-main-about.pug
include ../blocks/s-catalog-side/_s-catalog-side.pug
include ../blocks/s-catalog-list/_s-catalog-list.pug

block variables
	- let  mainPage= ''
block title
	- let  title= 'Одежда для девочек'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	//- +header-block()
	.container.top-section
		+breadcrumb('Главная' ,'Каталог' ,`${title}`)
		.catalog-page__main-section
			.row
				.col-3
					+s-catalog-side()
				.col-9
					+s-catalog-list()
	+s-catalog-slider('Слайдер')
	+s-catalog-slider('Слайдер')
	+s-catalog-slider('Слайдер')
	+footer()