extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-main-slider/_s-main-slider.pug
include ../blocks/s-categories/_s-categories.pug

block variables
	- let  mainPage= 'main-page'
block title
	- let  title= 'title'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	//- +header-block()
	+s-main-slider()(class='top-section')
	+s-categories()
	+s-form()
	+s-form()
	+s-form()
	+s-form()
	+s-form()
	+s-form()
	+s-form()
	+s-form()
	+s-contact()
	+footer()