mixin s-main-about()
	// start s-main-about
	+b.SECTION.s-main-about.section#s-main-about&attributes(attributes)
		.container
			h2 О нас
			+e.img-block
				+e.img-item
					img.res-i(src='img/@2x/sert1.jpg' alt='')
				+e.img-item
					img.res-i(src='img/@2x/sert2.jpg' alt='')
				+e.img-item
					img.res-i(src='img/@2x/sert3.jpg' alt='')
				+e.img-item
					img.res-i(src='img/@2x/sert4.jpg' alt='')
			h3 Детская и подростковая обувь и одежда — магазин «Мир детства» Харьков.
			p Сайт mirdetstva.net создан для удобства покупателей магазина «Мир детства», который находится в Харькове в универмаге «Детский мир» на площади Конституции, 9, а также для тех, кто живет за пределами Харькова и не может совершать покупки в нашем offline магазине. Для наших покупателей это огромное преимущество – можно подобрать заранее, заказать, ознакомится с новинками или купить детскую одежду и обувь для ребенка в удобное время.
			p Мы работаем с детской одеждой и обувью с 2010 года и поможем Вам правильно подобрать обувь для детей и подростков, расскажем — на какие характеристики в первую очередь обратить внимание при выборе. В магазине «Мир детства» представлены только качественные товары известных украинских и зарубежных производителей.<br>Детская обувь должна быть удобна и комфортна для ребенка.
			p Родители всегда хотят быть уверены, что они могут купить обувь ребенку и не беспокоиться о том, что ему неудобно в ней. Для этого нужно правильно подобрать размер.<br>В зависимости от возраста Вашего чада, вида обуви – будь то ботинки или чешки, существуют допуски к длине стельки, зная которые мы поможем Вам подобрать оптимальный размер.
			p Для правильного формирования стопы ребенка в любом возрасте важно, чтобы обувь была подходящего размера. Правильно подобранный размер не только положительно влияет на здоровье ножек ребенка, но и увеличивает срок эксплуатации детской обуви.
			p Зимой важно, чтобы ножки ребенка не мерзли и не промокали. Детская зимняя обувь на любой вкус – термо ботинки B&G с мембраной выдерживает температуру от +10 до -30 градусов. Надежные детские ботинки для мальчика Golovin из натуральной кожи на шерстяной подкладке представлены в спортивных и классических моделях. Зимние детские сапоги для девочки TopS с модными меховыми оторочками из кролика не оставят равнодушной ни одну маленькую модницу!
			p К приходу весны тоже нужно подготовиться — нужно купить детские кеды для девочки или детские кроссовки для мальчика. Текстильные кеды для девочки – яркий модный аксессуар, хорошо в них бегать в сухую погоду. Кеды из натуральной кожи или экокожи удобны, если прохладно или дождливо.<br>Детские кроссовки – наверное, самая удобная обувь! Кожаные кроссовки незаменимы на переменчивую весеннюю или осеннюю погоду. Легкие сетчатые модели на липучках подойдут для прогулок на улице и спортивных тренировок.
			p Туфли — также важная часть гардероба ребенка. Детские туфли для девочек и туфли для мальчиков могут быть повседневные из натуральной кожи, на удобной резиновой подошве с важным и нужным супинатором, правильно формирующим ножку. Для школы важны туфли удобные, так как ребенок проводит в них большую часть дня. Дышащие туфли, мокасины из натуральной перфорированной кожи незаменимы в жаркий летний день. Нарядные туфли тоже важны – каждый ребенок любит праздники и ходит в гости, выступает на утренниках и концертах.<br>В магазине «Мир детства» представлены товары для детей разных возрастов – от новорожденных до подростков. Размерный ряд детской обуви от 18 до 41 размера.<br>Детская одежда для садика и школы также присутствует в нашем ассортименте.
			p Одеть ребенка в школу – не сложно! Купить школьную форму для девочек и мальчиков Вы можете в нашем магазине. Мы предлагаем школьные сарафаны для девочек и платья для школы, школьные юбки, жакеты и жилеты популярных цветов – черный, синий, серый. Блузки школьные с коротким и длинным рукавом — повседневные и для торжеств, вышиванки, а также гольфы и кофты для прохладного времени года. Рубашки для мальчиков всегда актуальны для школы и садика. Что одеть в школу, что бы было удобно и красиво — джинсы либо брюки, дополнить которые можно кофтой, регланом либо пиджаком.
			p В магазине Мир детства можно купить верхнюю одежду для ребенка. Зимние куртки и пальто для девочек, удобные куртки для мальчиков. Детские куртки-жилетки и жилеты дополнят весенне-осенний гардероб ребенка.
			p Для девочек и мальчиков в садик — подобрать необходимые тапочки для сменки и чешки для утренников. Для прогулок мы всегда поможем в выборе обуви – будь то детские босоножки на жаркий летний день, либо резиновые сапоги на непогоду.
			p У нас можно купить детскую обувь давно зарекомендовавших себя производителей: B&G, Demar, Viggami, Zetpol, Tom.m, 3F, Golovin, Calorie, Y.TOP, SuperGear, TopS, Scarlett.<br>В нашем магазине представлена детская и подростковая одежда известных украинских брендов: Бемби, Овен, Lukas, Mevis, Bogi, KidsCouture.<br>Ассортимент магазина Мир детства постоянно пополняется — мы всегда прислушиваемся к пожеланиям наших покупателей и находим для Вас интересную качественную продукцию по приемлемой цене!
	// end s-main-about