mixin s-product()
	// start s-product
	+b.SECTION.s-product.section#s-product&attributes(attributes)
		.container
			+e.main-block
				+e.main-row.row
					+e.slider-col.col-xl-4.col-md-5.col-sm-8
						+e.big-slider--js
							mixin bg-prod-slide()
								.slider-slide
									+e.slider-img-wrap--bg
										img(src='img/@2x/product-img.jpg' alt='')
							+bg-prod-slide()
							+bg-prod-slide()
							+bg-prod-slide()
							+bg-prod-slide()
							+bg-prod-slide()
						+e.small-slider--js
							mixin sm-prod-slide
								.slider-slide
									+e.slider-img-wrap--sm
										img(src='img/@2x/product-img.jpg' alt='')
							+sm-prod-slide()
							+sm-prod-slide()
							+sm-prod-slide()
							+sm-prod-slide()
							+sm-prod-slide()
					+e.main-col.col-xl-5.col-md-7
						+e.title=title
						+stars()
						+e.price-block
							+e.price
								span.disabled 600 грн.
								span 450 грн.
							+e.art Арт.: 123123123
						+e.size-title Выберите размер
						+e.size-block
							label
								input(type='radio' name='size')
								span 31
							label
								input(type='radio' name='size')
								span 32
							label
								input(type='radio' name='size')
								span 33
							label
								input(type='radio' name='size')
								span 34
							label
								input(type='radio' name='size')
								span 35
							label
								input(type='radio' name='size')
								span 36
						+e.A.size-link(href='#') Таблица размеров
						+e.status В наличии
						+e.self доступен самовывоз
						+e.alert #Внимание! Цена действительна только при заказе на сайте!<br>В розничном магазине цена может отличаться!

						+e.btn-wrap
							+e.btn.btn.btn-info(type="button") Быстрый заказ
							+e.btn.btn.btn-primary(type="button") Купить

						+e.icons-block
							+e.icon-btn.btn
								+icon('heart')
							+e.icon-btn.btn
								+icon('compare')

						+e.share Поделиться
						+soc()

					+e.add-col.col-xl-3
						+e.add-info-block
							+e.add-title Доставка**
							+e.add-text в отделение Новой почты курьером на дом самовывоз из магазина
						+e.add-info-block
							+e.add-title Оплата**
							+e.add-text На карту ПриватБанка При получении на Новой почте При получении в магазине
						+e.add-info-block
							+e.add-title Гарантия**
							+e.add-text Возврат, Обмен Согласно Закона…
						+e.add-link **С условиями доставки и оплаты Вы можете ознакомиться по 
							a(href='#' target='_blank') ссылке
			+e.tabs-block
				.tabs
					.tabs__caption
						.tabs__btn.btn.active Описание с таблицей замеров
						.tabs__btn.btn Характеристики
						.tabs__btn.btn Отзывы
					.tabs__wrap
						.tabs__content.active Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet, rem quis eius at sunt ducimus esse, atque illo quaerat quo temporibus a soluta tempora. Iste sequi error distinctio eveniet cumque! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sint atque hic dolorum. Voluptatibus minus sint, praesentium numquam nemo sed. Porro ab debitis veritatis quisquam voluptas iste laudantium dolore ea? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae laboriosam earum dolore aspernatur quia, a ab ducimus velit culpa non? Officiis odit cum veritatis atque nostrum eum tempore, possimus saepe?
						.tabs__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque earum itaque, ipsum, fugiat, nam autem quidem recusandae culpa delectus accusamus excepturi magnam porro placeat consequuntur consectetur! Ex distinctio commodi omnis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sint atque hic dolorum. Voluptatibus minus sint, praesentium numquam nemo sed. Porro ab debitis veritatis quisquam voluptas iste laudantium dolore ea? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae laboriosam earum dolore aspernatur quia, a ab ducimus velit culpa non? Officiis odit cum veritatis atque nostrum eum tempore, possimus saepe?
						.tabs__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum tenetur ea minima quo laborum, illo necessitatibus aperiam? Molestias ab, dicta, eveniet earum rerum deleniti deserunt, architecto eaque porro laboriosam incidunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga sint atque hic dolorum. Voluptatibus minus sint, praesentium numquam nemo sed. Porro ab debitis veritatis quisquam voluptas iste laudantium dolore ea? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae laboriosam earum dolore aspernatur quia, a ab ducimus velit culpa non? Officiis odit cum veritatis atque nostrum eum tempore, possimus saepe?


	// end s-product