
// start .s-categories
.s-categories {
	
	padding: rem(15) 0 rem(10);

	&__row{
		@include roww(10);
	}

	&__col{
		@include media-breakpoint-down(md){
			margin-bottom: rem(20);
		}
	}

	&__item{
		overflow: hidden;
		border: 1px solid #adadad;
		text-align: center;
		color: #ffffff;
		font-size: rem(14);
		@include block(266, 266);
		position: relative;
		img{
			@include mt;
		}
		&::after{
			@include mt;
			z-index: 1;
			content: '';
			@include a-cent;
			width: 0%;
			height: 0%;
			background-color: rgba(255, 255, 255, 0.1) ;
		}
		&:hover{
			&::after{
				width: 150%;
				height: 150%;
			}
			& > img{
				transform: scale(1.1);
			}
			.s-categories__item-title{
				color: #fff;
				background-color: #ff8b2d;
			}
		}
	}

	&__item-title{
		height: rem(50);
		font-size: rem(16);
		line-height: 1.32;
		@include mt;
		z-index: 2;
		background-color: rgba(0, 0, 0, .4);
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: rem(5) rem(10);
		@include media-breakpoint-up(sm){	
			// padding: rem(20);
		}
		@include media-breakpoint-up(xl){
			// padding: rem(20);
		}
	}


@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) { }


//
@include media-breakpoint-only(xs) {}
@include media-breakpoint-only(sm) {}
@include media-breakpoint-only(md) {}
@include media-breakpoint-only(lg) {}
@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {} 

} // end.s-categories