.top-nav {
	
	@include media-breakpoint-down(md){
		padding: rem(5) 0;
	}
	background-color: $info;
	color: #ffffff;
	// position: absolute;
	top: 100%;
	// @include clearfix;ss
	position: relative;
	z-index: 20;
	@include mt;
	top: 0;
	left: 0;
	width: 100%;

	&.fixed {
		@include media-breakpoint-down(md){
			padding: rem(8) 0;
		}
		position: fixed;
		width: 100%;
		bottom: auto;
		margin-top: 0;
		.top-nav{
			&__phone-col{
				@include media-breakpoint-up(lg){
					display: block !important;
				}
			}
			&__home{
				// margin: 0;
				.icon{
					display: none !important;
				}
			}
			&__mob-logo{
				display: block !important;
			}

			&__home-col{
				display: flex;
				align-items: center;
				@include media-breakpoint-up(sm){
					justify-content: center;
				}
			}
		}
		.top-nav__nav{
			opacity: 0;
			pointer-events: none;
		}
	}
	&__nav {
		opacity: 0;
		pointer-events: none;
		@include mt;
		background-color: #fff;
		position: absolute;
		top: 100%;
		width: rem(218);
		@include media-breakpoint-up(xl){
			width: rem(268);
		}
		right: 0;
		margin-bottom: 0;
		text-align: center;
		list-style-type: none;
	}
	
	&__item {
		line-height: 1;
		text-align: left;
		display: block;
		list-style-type: none;
		&:not(:first-child){
			margin-top: -1px;
		}
		& > a{
			color: $info;
			display: block;
			border: 1px solid #adadad;
			padding: rem(16);
			font-size: rem(14);
			font-weight: bold;
			// color: #191919;
			&:hover{
				text-decoration: none;
			}
		}
		&.menu-item-has-children{
			position: relative;
			&::after{
				content: url(../img/svg/menu-arrow.svg);
				@include a-cent(y);
				right: rem(18);
				@include mt;
			}
			&:hover{
				&::after{
					opacity: 0;
					transform: translate(-500%, -50%);
				}
				& > .top-nav__submenu{
					opacity: 1 !important;
					pointer-events: unset;
				}
			}
		}
	}

	&__submenu{
		@include mt;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: calc(100% - 1px);
		width: rem(712);
		@include media-breakpoint-up(xl){
			width: rem(862);
		}
		background-color: #fff;
		padding: rem(20) rem(20) 0;
		border: 1px solid #adadad;
	}

	&__sub-row{

	}

	&__sub-col{
		margin-bottom: rem(30);
	}

	&__sub-item{
		line-height: 1.2;
		// text-align: center;
		a{
			color: $info;
			display: inline;
			border-bottom: 1px solid transparent;
			// color: #191919;
			&:hover{
				text-decoration: none;
				border-bottom: 1px solid $info;
			}
		}
	}

	&__row{
		@include media-breakpoint-down(xs){
			@include roww(5);
		}
		@include media-breakpoint-down(md){
			@include roww(10);
		}
		align-items: center;
	}

	&__home{
		width: rem(35);
		display: block;
		
		@include media-breakpoint-up(lg){
			margin-left: rem(15);
		}
		display: inline-block;
		.icon{
			color: #fff;
			font-size: rem(22);
		}
	}

	&__mob-logo{
		display: none;
		max-width: rem(35);
	}

	&__mnu-wrap{
		position: relative;
		&:hover > .top-nav__nav{
			opacity: 1 !important;
			pointer-events: unset !important;
		}
	}

	&__catalog{
		display: block;
		color: #fff;
		line-height: 1;
		font-weight: 600;
		letter-spacing: 1.2px;
		font-size: rem(16);
		background-color: #ff8b2d;
		padding: rem(15) rem(29);
		@include media-breakpoint-up(xl){
			padding: rem(15) rem(54);
		}
		text-transform: uppercase;
		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}

	&__form-col{
		@include media-breakpoint-down(xs){
			display: none;
			margin-top: rem(5);
		}
		@include media-breakpoint-up(sm){
			display: block !important;
		}
	}

	.form-wrap{
		form{
			display: flex;
			align-items: center;
		}
		&__input-wrap{
			position: relative;
			margin: 0;
			flex-grow: 1;
		}
		&__input{
			border: 1px solid #ced4da;
			border-radius: rem(10);
			background-color: transparent;
			color: #fff;
			box-shadow: none;
			font-size: rem(14);
			&::placeholder{
				color: #fff;
			}
		}
		&__btn{
			@include a-cent(y);
			right: rem(10);
			padding: 0;
			box-shadow: none;
			.icon{
				font-size: rem(18);
				color: #fff;
			}
		}
		&__input-close{
			margin-left: rem(10);
			.icon{
				font-size: rem(18);
			}
		}
	}



	&__icon-item{
		color: #fff;
		margin: 0 rem(5);
		&:hover{
			color: #fff;
			text-decoration: none;
			opacity: .7;
		}
		.icon{
			font-size: rem(23);
			@include media-breakpoint-up(sm){
				font-size: rem(28);
			}
		}
	}
	
	.basket-active{
		position: relative;
		.icon{
			color: $primary;
		}
	}

	&__basket-count{
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		width: rem(18);
		height: rem(18);
		border-radius: 50%;
		background-color: $primary;
		transform: translate(50%, -50%);
	}

	&__phone-col{
		// @include media-breakpoint-up(lg){
		// 	display: none;
		// }
	}

	&__phone-block{
		color: #ffffff;
		display: flex;
		align-items: center;
		text-align: center;
		&:hover{
			text-decoration: none;
			color: #ffffff;
			opacity: .7;
		}
		.icon{
			@include media-breakpoint-up(lg){
				margin-right: rem(12);
				display: none;
			}
			font-size: rem(22);
			@include media-breakpoint-up(sm){
				font-size: rem(25);
			}
		}
	}

	&__number-block{
		@include media-breakpoint-down(md){
			display: none;
		}
	}

	&__search-btn{
		.icon{
			font-size: rem(20);
		}
	}

	&__number{
		display: block;
		font-size: rem(14);
		line-height: 1;
	}

	
  &__number-logo{
    width: auto;
    height: rem(20);
  }

  &__number-logo-block{
		@include media-breakpoint-down(md){
			display: none;
		}
		margin-right: rem(10);
  }


	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}
