 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(4px);
		vertical-align: middle;
		@include mt;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(35);
		height: rem(35);
		border-radius: 50%;
		border: 2px solid #ffffff;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
		color: #fff;
		font-size: rem(17);
		&-phone{
			font-size: rem(18);
		}
		&-insta{
			font-size: rem(16);
		}
		&-viber{
			font-size: rem(19);
		}
	}
	 

}


.star-block{
	display: flex;
	&__item{
		color: #b4b4b4;
	}
	.icon{
		font-size: rem(16px);
		margin-right: rem(2);
	}
}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}


.pagination-wrapper{
	.page-numbers{
		margin: 0;
		li{
			margin: 0 rem(3);
			.page-numbers{
				padding: rem(5);
				background-color: #d7d7d7;
				border-radius: 50%;
				width: rem(27);
				height: rem(27);
				display: flex;
				align-items: center;
				justify-content: center;
				color: #1d1d1d;
				border: none;
				@include mt;
				&:hover,
				&.current{
					background-color: $info;
					color: #fff;
				}
				&.current{
					cursor: default;
				}
				.icon{
					font-size: rem(20);
				}
			}
		}
	}
}

