mixin s-catalog-info()
	// start s-catalog-info
	+b.SECTION.s-catalog-info.section#s-catalog-info&attributes(attributes)
		.container
			h3 Детская одежда для девочки.
			p С появление на свет нашего любимого чада, с первых дней его жизни мы пытаемся выделить его из массы. Долго придумываем звучное имя, подбираем дизайн для детской комнаты, коляску, кроватку и, конечно костюм на выписку из роддома. С первого его вздоха мы — родители, бабушки и дедушки, тети и дяди, друзья семьи стараемся превратить жизнь маленького человека в сказку. И все здесь имеет значение!<br>
				| Когда в семье появляется девочка, в семье  присутствует особое трепетное отношение к нежнейшему созданию. Ведь в семье растет папина принцесса, будущая женщина, которая будет воспитывать своих детей с таким же трепетом и любовью, окружая их заботой и теплом! Это будущая хранительница семейного очага, которая будет создавать уют в доме, и восхищать мужа красотой,  душевной добротой.<br>
				| Для того, чтобы девочка росла опрятной, ухоженной и аккуратной, ее необходимо приучать к порядку как можно раньше. Девочка, на которой новое красивое платье, будет стараться не выпачкать его, красиво уложить косы. Те девочки,  которые обсуждают с мамой, в каком наряде они выйдут завтра в свет, помимо положительных эмоций от общения, получают бесценные уроки по мастерству совмещения разных частей гардероба в единый ансамбль. Такие девочки  привлекают внимание окружающих красивым внешним видом. Они стараются соответствовать красивой картинке во всем. Меняется походка, манера общения и поведения в обществе. Модно и стильно одетой девочке с хорошими манерами и опрятным внешним видом легче влиться в коллектив, завести знакомства и т. д.<br>
				| Человека красит одежда. Голые люди имеют крайне малое влияние в обществе, а то и совсем никакого. Это слова известного американского писателя юмориста и сатирика, который написал прекрасные произведения для детей и о детях Марк Твен.<br>
				| Мы хотим, чтобы наши дети были успешными, чтобы у них все сложилось, чтобы они росли в гармонии с собой и с окружающим их миром, достигали вершин, находили свое место под солнцем. И делаем для этого все от нас зависящее. 
			h3 Какой должна быть детская одежда для девочек 2019?
			p Что такое стильно и модно одеваться? Стоит ли покупать много одежды или можно ограничиться малым, но выбрать качественную одежду  для ребенка? Какой должна быть детская одежда для девочек 2019? Нужна ли ребенку брендовая детская одежда для девочек? Как грамотно составить гардероб ребенка? Мы часто задаем себе эти вопросы в обыденной жизни.<br>
				| Для того, чтобы ребенок выглядел красиво совершенно необязательно заваливать шкафы ненужной одеждой, которую ребенок не успеет и поносить. Ведь дети так быстро растут. Обратите внимание на то, чтобы одежда легко совмещалась в единый ансамбль. Известный дизайнер, основательница стиля панк в моде и учительница в прошлом Вивьен Вествуд  советовала: «Покупайте меньше и выбирайте лучше».
			h3 Детская весенняя одежда для девочек.
			p Любому ребенку необходима сезонная одежда. Детская весенняя одежда для девочек легкая и разнообразная. Верхняя детская одежда для девочки должна гармонично смотреться с брюками, джинсами, платьем, школьной формой и одеждой в деловом и спортивном стиле. К брюкам подойдут коротенькие курточки или курточки средней длины. К платью, юбке, школьному сарафану – пальто и плащи. Несмотря на то, что сейчас модно совмещать разные стили в одежде, пропорции должны быть соблюдены. Поэтому детская осенняя одежда в качестве курточки и демисезонного пальто для девочек не будет лишней в гардеробе ребенка. Куртку или жилетку будем носить с брюками, а пальто или плащ с платьем и школьной формой. Это правильно и с практической точки зрения, когда придется постирать верхнюю одежду, обязательно должна быть ей замена. Детская одежда для девочек на весну часто покупается с небольшим запасом, чтобы ее хватило и на осень, ведь летом большинство детей растут активнее, т.к. ярче светит солнышко, свежий воздух, нет интенсивных нагрузок, хорошее питание – овощи, фрукты, ягоды…
			h3 Детская зимняя одежда для девочки.
			p Детская зимняя одежда для девочек до 7 лет подразумевает наличие комплекта из зимнего полукомбинезона и куртки. Девочкам постарше и девочкам подросткам лучше покупать зимнюю куртку или пальто  до или ниже уровня колен, чтобы защитить нижнюю часть тела от ветра и мороза. Такие удлиненные куртки, пуховики, пальто не требуют дополнительной одежды в виде полукомбинезонов или утепленных штанов. Да и совмещать такой комбинезон со школьной формой очень неудобно. я
			h3 Летняя детская одежда для девочек.
			p Летняя детская одежда для девочек должна быть в первую очередь удобной и приятной телу. Ведь лето – это то беззаботное счастливое время, когда ребенок не «привязан» к школе, садику, когда ему предоставляется свобода, которая так необходима. Летом девочке пригодятся ситцевые, льняные, трикотажные сарафаны и платья на каждый день, комплекты типа юбка + футболка, туника + лосины, шорты + футболка. Можно купить отдельно юбку, шорты, трикотажные лосины  и 3-4 футболки, которые можно совмещать с этими вещами. Обязательно купите легкие джинсы или льняные брюки и кофту из хлопка на прохладную вечернюю погоду. Не забудьте про головной убор и купальник. 
			h3 Нарядная детская одежда на девочку.
			p Отдельно хочется напомнить про праздничную одежду, которая непременно должна быть в гардеробе девочки. Нарядная детская одежда для девочек бывает очень разной. Так, например, платье для новогоднего утренника с пышной юбкой в пол будет неуместно на вечеринке по поводу дня рождения. Нарядное платье с длинным рукавом из красивых синтетических тканей и корсетом летом надеть сложно. Поэтому при подборе нарядной одежды учтите нюансы.<br>
				| Я не моделирую одежду. Я создаю мечты. Ральф Лорен – модельер и дизайнер<br>
				| Красивая одежда дарит радость и маленькой девочке и взрослой женщине. Лучшим подарком для нас остается красивое платье.  Купить в подарок стильный костюм или нарядный комплект можно, ориентируясь на возраст или рост ребенка. Если Вы хотите сделать сюрприз и купить одежду для девочки, воспользуйтесь, пожалуйста, таблицей приведенной ниже. 
			h3 Таблица соответствия размера детской одежды росту возрасту для среднестатистических девочек от 1 года  до 14 лет.
			+e.table.table-responsive
				table
					thead
						tr
							th Наименование, возраст
							th Рост, см
							th Размер
					tbody
						tr
							td Детская одежда для девочек 1 год
							td 75-80
							td 80
						tr
							td Детская одежда для девочек 1 год
							td 75-80
							td 80
						tr
							td Детская одежда для девочек 1 год
							td 75-80
							td 80
						tr
							td Детская одежда для девочек 1 год
							td 75-80
							td 80
						tr
							td Детская одежда для девочек 1 год
							td 75-80
							td 80
	// end s-catalog-info